.public-wrapper {
	background: url('../images/bg.jpg') center center no-repeat;
	background-size: cover;	
	padding: 0;
	border: 0;
}
.public-wrapper .container .row {
	min-height: calc(100vh - 120px);
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.navbar .brand {
	padding-left: 0;
}

.footer {
	border: 0;
}

.login-box {
	border: 0;
	background: transparent;
}
.login-box .module-body {
	background: rgba(255, 255, 255, 0.88);
}
.login-box .form-vertical .control-group + .control-group {
	border: 0;
	margin-top: 0;
}
.login-box .form-vertical .control-group + .control-group input {
	margin: 0;
}
.login-box .form-vertical .control-group input[type="text"],
.login-box .form-vertical .control-group input[type="email"],
.login-box .form-vertical .control-group input[type="password"] {
	font-size: 16px;
	height: 38px;
	padding: 0 12px;
}

.login-box .form-vertical .control-group input::placeholder {
	opacity: 0.8;
}
.login-box .module-foot a {
	display: inline-block;
	padding-top: 7px;
	vertical-align: top;
}


@media (min-width: 978px) {
	.visible-desktop {
		display: block !important;
	}
	.private-wrapper {
		padding: 0;	
		margin: 0;
		border: 0;
	}
	.navbar .container,
	.private-wrapper .container {
		width: auto;
		max-width: 1500px;
	}
	.navbar .container {
		padding: 0 40px;
		box-sizing: border-box;
	}
	
	.private-wrapper .container > .row {
		margin: 0;
		display: flex;
	}

	.private-wrapper .container > .row > .span3 {
		margin: 0;
		float: none;
		width: 250px;
		min-width: 0;
		flex: 0 0 250px;
	}
	.private-wrapper .container > .row > .span9 {
		box-sizing: border-box;
		width: auto;
		flex: 1 1 auto;
		padding: 30px 50px 50px 0;
	}
	
	.sidebar .widget {
		border-radius: 0;
		margin: 0;
		font-size: 14px;
	}
	
	.sidebar .widget li a {
		padding-left: 20px;
	}
	
	.footer {
		padding: 20px 0;
		border: 0;		
	}
		
}

.well {
	border-radius: 0;
}
.well-box > b {
	display: block;
	background-color: #26b99a;
	color: #fff;
	padding: 10px 16px;
	position: relative;
	z-index: 999;
}
.well > b {
	margin: -20px -20px -1px;	
}
.well-small > b {
	margin: -10px -10px -1px;	
}
.well .table th,
.well .table td {
	padding: 7px 10px;
}

.btn-box i {
	color: #26b99a;
}

.module-head,
.module {
	border-radius: 0;
}
.module-head {
	background-color: #26b99a;
	color: #fff;
}
.module-head > * {
	color: #fff;
}