.public-wrapper {
	background: url('../images/bg.jpg') center center no-repeat;
	background-size: cover;	
	padding: 0;
	border: 0;
}
.public-wrapper .container .row {
	min-height: calc(100vh - 120px);
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.navbar .brand {
	padding-left: 0;
}

.footer {
	border: 0;
}


@media (min-width: 978px) {
	.visible-desktop {
		display: block !important;
	}
	.private-wrapper {
		padding: 0;	
		margin: 0;
		border: 0;
	}
	.navbar .container,
	.private-wrapper .container {
		width: auto;
		max-width: 1500px;
	}
	.navbar .container {
		padding: 0 40px;
		box-sizing: border-box;
	}
	
	.private-wrapper .container > .row {
		margin: 0;
		display: flex;
	}

	.private-wrapper .container > .row > .span3 {
		margin: 0;
		float: none;
		width: 250px;
		min-width: 0;
		flex: 0 0 250px;
	}
	.private-wrapper .container > .row > .span9 {
		box-sizing: border-box;
		width: auto;
		flex: 1 1 auto;
		padding: 30px 50px 50px 0;
	}
	
	.sidebar .widget {
		border-radius: 0;
		margin: 0;
		font-size: 14px;
	}
	
	.sidebar .widget li a {
		padding-left: 20px;
	}
	
	.footer {
		padding: 20px 0;
		border: 0;		
	}
		
}