@media (max-width: 979px) {
	.navbar .container,
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.navbar .navbar-inner {
		padding: 0;
		box-shadow: none;
		border: 0;
	}
	.navbar .btn-navbar {
		margin: 0 -30px 0 0;
		border: 0;
		border-radius: 0;
		background: #2A3F54;
		height: 60px;
		padding: 0;
		width: 60px;
	}
	.navbar .btn-navbar:hover {
		background: #2A3F54;
	}
	.navbar .btn-navbar i {
		color: #fff;
		font-size: 27px;
		margin-top: 18px;
	}
	.nav-collapse {
		background: #2A3F54;
		margin: 0 -30px;
	}
	.nav-collapse .navbar-form,
	.nav-collapse .navbar-search {
		border: 0;
		padding: 15px 30px 8px;
		margin: 0;
		box-shadow: none;
		text-align: right;
	}
	
	.navbar .nav {
		margin: 0;
	}
	.navbar .nav > li {
		font-size: 14px;
	}
	.navbar .nav > li > a {
		margin: 0;
		color: #fff;
		text-shadow: none;
		padding: 12px 30px;
	}
	.navbar .nav > li > a i {
		font-size: 16px;
		margin-right: 5px;
	}
	.navbar .nav li.nav-user {
		background: #f9f9f9;		
	}
	.navbar .nav li.nav-user a {
		color: #555555;
	}
	.navbar .nav li.nav-user a.dropdown-toggle {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.navbar .nav .nav-avatar {
		margin-top: -10px;
	}
	.navbar .nav > li.dropdown.open > .dropdown-toggle, 
	.navbar .nav > li.dropdown.active > .dropdown-toggle,
	.navbar .nav > li.dropdown.open.active > .dropdown-toggle {
		padding: 16px 30px;
		border: 0;
		box-shadow: none;
	}
	.navbar .pull-right > li > .dropdown-menu {
		border: 0;
		box-shadow: none;
	}
	.navbar .nav > li > .dropdown-menu li > a {
		padding: 12px 30px;
	}	
	
	.private-wrapper .container {
		
	}
}